{% extends "site.html" %}

{% block title %}Payment Confirmed{% endblock %}

{% block cover_image %}
    <div class = "cover">
        <img src="static/images/family_cycle.jpg" alt="family_cycling" style="height:auto; width:100%; margin-top:2%;">
    </div>
{% endblock %}

{% block body %}
    <div class = "container" style="height:100%; margin-top:5%">
        <h1 style="font-size:50px">Payment Successful!</h1>
        <p style="font-size:30px">Thank you for purchasing, your receipt has been sent to your e-mail.</p>
    </div>
{% endblock %}
