{% extends 'site.html' %}

{% block title %}Authentication{% endblock %}

{% block cover_image %}
    <div class = "cover">
        <img src="/static/images/family_cycle.jpg" alt="family_cycling" style="height:auto; width:100%; margin-top:2%;">
    </div>
{% endblock %}

{% block flash %}
<div class="row">
<div class="mx-auto col-md-6 px-1">
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
        <div class="alert alert-danger pt-4">
        <ul>
            {%- for msg in errors %}
            <li>{{ msg }}</li>
            {% endfor %}
        </ul>
        </div>
        {% endif %}
    {% endwith %}
</div>
</div>
{% endblock %}

<!-- Bootstrap example breadcrumb -->
{% block breadcrumb %}
<nav class="row" aria-label="breadcrumb">
    <ol class="breadcrumb  col-sm-12">
      <li class="breadcrumb-item"><a href="{{url_for('bicycles.booking', payment_id=payment_id, form_id=form_id)}}">Reserve Booking</a></li>
      {% if not current_user.is_authenticated and payment_id %}
        <li class="breadcrumb-item active" aria-current="page">Authentication</li>
      {% endif %}
      {% if payment_id %}
        <li class="breadcrumb-item"><a href="{{url_for('payments.payIndex', payment_id=payment_id, form_id=form_id)}}">Payment</a></li>
      {% endif %}
    </ol>
</nav>
{% endblock %}

{% block body %}
<div class="container" style="margin-bottom:15%">
    <h2>Please enter your email address</h2>
    <div class="row">
        <div class="mt-3 pt-2 card mx-auto col-md-6">
            <form method="POST">
                {{form.hidden_tag()}}
                <div class="form-group">
                    {{ form.email.label}} {{ form.email(class="form-control") }}
                </div>
                
                <div class="form-group">
                    {{form.submit(class="btn btn-outline-info btn-block")}}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}