{% extends 'site.html' %}

{% block title %}Booking{% endblock %}

{% block cover_image %}
    <div class = "cover">
        <img src="/static/images/family_cycle.jpg" alt="family_cycling" style="height:auto; width:100%; margin-top:2%;">
    </div>
{% endblock %}

<!-- Bootstrap example breadcrumb -->
{% block breadcrumb %}
<nav class="row" aria-label="breadcrumb">
    <ol class="breadcrumb  col-sm-12">
      <li class="breadcrumb-item active" aria-current="page">Reserve Booking</li>
      {% if not current_user.is_authenticated and payment_id %}
        <li class="breadcrumb-item"><a href="{{url_for('bicycles.auth', payment_id=payment_id, form_id=form_id)}}">Authentication</a></li>
      {% endif %}
      {% if payment_id %}
        <li class="breadcrumb-item"><a href="{{url_for('payments.payIndex', payment_id=payment_id, form_id=form_id)}}">Payment</a></li>
      {% endif %}
    </ol>
</nav>
{% endblock %}

{% block body %}

<div class="row">
<div class="mt-3 pt-2 card mx-auto col-sm-6">
<form method="POST" onsubmit="submit.disabled = true; submit.value = 'submitting...'; return true;">

    {{booking_form.hidden_tag()}}

    <div class="form-group">
        {{ booking_form.location.label }}{{ booking_form.location(class="form-control") }}
    </div>

    <div class="form-group">
        {{ booking_form.start_date.label }}{{ booking_form.start_date(class="form-control") }}
    </div>

    <div class="form-group">
        {{ booking_form.end_date.label }}{{ booking_form.end_date(class="form-control") }}
    </div>

    <div class="form-group">
        {{ booking_form.start_time.label }}{{ booking_form.start_time(class="form-control") }}
    </div>

    <div class="form-group">
        {{ booking_form.end_time.label }}{{ booking_form.end_time(class="form-control") }}
    </div>

    <div class="form-group">
        {{ booking_form.number_of_bikes.label }}{{ booking_form.number_of_bikes(class="form-control") }}
    </div>

    <div class="form-group">
        {% if current_user.is_authenticated or payment_id %}
            {{booking_form.submit(class="btn btn-outline-info btn-block")}}
        {% else %}
        <button type="button" class="btn btn-outline-info btn-block" data-toggle="modal" data-target="#exampleModal">
            Submit
        </button>
        {% endif %}
    </div>

    <!-- Bootstrap Example Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Authentication<h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <h5>Do you wish to sign in first?</h5>
        </div>
        <div class="modal-footer">
        <div class="col-sm-6">
            <a href="{{url_for('user.signin', next='bicycles.booking', form_id=form_id)}}" class="btn btn-outline-info btn-block">Yes</a>
        </div>
        <div class="col-sm-6">
            {{booking_form.submit(class="btn btn-outline-info btn-block", value="No")}}
        </div>
        </div>
        </div>
    </div>
    </div>
            
    <div class="form-group">
    </div>

</form>
</div>

<div class="col-sm-6 mt-3 pr-0">
    <div class="card" style="padding:5%">
       <h3 class="my-auto mx-auto pt-1">Save 20% on your booking!</h3>
       <br>
       <p class="my-auto mx-auto pb-2">
           Make a reservation for at least <b>8 hours</b> to be eligible.
       </p>
    </div>
</div>

</div>

{% endblock %}
