{% extends 'site.html' %}
{% block map %}
{{bike_map.js}}
{% endblock %}

{% block cover_image %}
    <div class="cover" style="background-image:url('/static/images/jungle_cycle.jpg');
                                height:550px; width:100%; background-size: cover" >
        <div class="container">
            <div class="col text-center" style="transform: translate(0%, 40%); word-wrap: break-word">
                <h1 style="color:white; font-size:100px">Bicycle Hire Ltd.</h1>
                <h2 style="color:white; font-size:30px"> Scroll to check out where our bikes are</h2>
                <img src="/static/images/arrow_white.png" style = "height: 40px; width: 40px">
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
<h1> Available locations</h1>
{{bike_map.html}}

<h2>Bike availability search</h2>

<form method="POST">

    {{form.hidden_tag()}}
    <div class="form-group">
        {{ form.location.label }}{{ form.location(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.start_date.label }}{{ form.start_date(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.end_date.label }}{{ form.end_date(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.start_time.label }}{{ form.start_time(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.end_time.label }}{{ form.end_time(class="form-control") }}
    </div>

    {{ form.csrf_token }}
    <div class="row form-group">
        <span class="col-md-6" style="margin:auto; padding:1%; width: 97%">{{form.search(class="btn btn-outline-info btn-block")}}</span>
        <span class="col-md-6" style="margin:auto; padding:1%; width: 97%">{{form.submit(class="px-4 btn btn-outline-info btn-block")}}</span>
    </div>

</form>

{% endblock %}
